@font-face {
    font-family: 'luckiestGuy-Regular';
    src: url('../fonts/luckiestGuy-Regular.ttf') format('truetype');
}  


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'luckiestGuy-Regular', Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

h1{
    color: rgb(57, 55, 160);
    font-size: 40px;
    margin: 0;
    letter-spacing: 5px;
    text-shadow: 7px -4px 2px rgba(226, 72, 0, 0.5);
    cursor: default;
}

p{
    margin: 0;
    color: rgb(56, 23, 133);
    text-shadow: 7px -4px 2px rgba(226, 72, 0, 0.5);
    cursor: default;
}

a{
    text-decoration: none;
    color: rgb(23 71 133);
    text-shadow: 7px -4px 2px rgba(226, 72, 0, 0.5);
}

@media only screen and (max-width: 768px) {
    p{
        font-size: 14px;
    }
}

@media only screen and (max-height: 600px) {
    p{
        font-size: 14px;
    }

    .dialog{
        margin-top: 0;
        height: 100%;
    }
}